

img { max-width: 100%; }

#navWrapper { position: fixed; width: 20.83333%; height: 1000px; z-index: 10; } /* 760 / 960 */
#main { margin-left: 20.83333%; width: 25000px; margin-top: 4em; }

nav { position: relative; float: right; margin-right: 15%; margin-left: 15%; margin-top: 50%; max-width: 70%; }
nav ul { display: none; }
#navWrapper:hover ul { display: block; }
nav ul li {}
/* (see type.css) nav ul li a:link,
nav ul li a:visited { text-decoration: none; color: #FFF; font-size: 1.6em; line-height: 2em; } 
nav ul > li > ul > li a:link,
nav ul > li > ul > li a:visited { font-size: 1.3em; color: #666; } */

#main h2,
#main h3 { clear: both; padding-top: 1em; }
#main h2 { margin-bottom: 1em; }
#main h3 { padding-bottom: 2px; border-bottom: 1px solid #ddd; margin-left: 1%; margin-right: 1%; }
#main ul > li { position: relative; }
#main ul > li a:link,
#main ul > li a:visited {}
#main ul > li > ul { clear: both; }
#main ul > li > ul > li { width: 796px; float: left; margin-right: 20em; margin-bottom: 10em; background:#000;}
#main ul > li > ul > li img { vertical-align: middle; }
#main ul > li > ul > li.spacer { height: 1600px;}

.aboutpage {  padding: 5% 8%; }
.page { height:560px; background:white; background-image:url("../images/bg-parchment.jpg"); background-repeat:repeat;}


a.tooltip span {display:none; padding:2px 3px; margin-left:8px; width:130px;}
a.tooltip:hover span{display:inline; position:absolute; background-color:black; border:1px solid #cccccc; color:#FFF;}
.col1 { float:left; margin-right:5%; margin-bottom:5%; width:30%; height:100%; }
/* three per row max, not needed #main ul > li > ul > li:nth-child(3n+1) { clear: left; } */

#label { height:2em; width:inherit; margin-top:5em; }
#progress { width: 100%; height:2px; margin-top:16px; background-image:url("../images/Style/bar.png"); background-repeat:repeat-x; }
#bullet { width:12px; height:1px; margin-top:-0.5em; z-index:10; overflow:visible; position:absolute; }


/*footer { position: absolute; bottom: 0; margin-left: 20.83333%; width: 100%; padding: 1em; background-color: #fff; font-size: 1.5em; }*/ footer { display: none; }

