html { font-size: 62.5%; background-color: #1C1C1C; background-image:url("../images/black_paper.png"); background-attachment: fixed; }
body { font-family: 'PT Serif', Georgia, serif; color: #FFF;  }

h1, h2, h3 { font-weight: bold; color: #FFF; }

h1 { font-size: 4em; }
h2 { font-size: 3em; }
h3 { font-size: 1.6em; }

p { font-size: 1.8em; line-height: 2em; position:absolute; top:0px; left:0px; bottom: 0px; padding: 8% 10%; background-color:rgba(0,0,0,0.7) }

nav ul li a:link,
nav ul li a:visited { text-decoration: none; color: #666; font-size: 1.8em; font-style:italic; line-height: 1.6em; }
nav ul li a:hover { color: #777;}
nav ul li ul li a:link,
nav ul li ul li a:visited { font-family: 'PT Serif Caption'; font-size: 1.4em; line-height: 1.6em; color: #DDD; }
nav ul li ul li a:hover { color:#FFF; }

#label { font-size:1.8em; color:#777; }
